body  {
  background:  #CCCCCC;
  padding: 30px;
}

h1 {
  text-align: center;
}

p  {
  text-aling: center;
}

em strong {
  color: red;
}

#missao {
  font-size: 20px
}    

#banner {
  width: 100%;
} 

.imagembeneficios {
  windth: 50%
}

ul {
  display: inline-block;
  vertical-aling: top;
  width; 20%;
  margin-right: 15%
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

.principal {
  background: #CCCCCC;
  padding: 30px;
}
