header  {
  background:  #BBBBBB;
}

h1 {
  text-align: center;
}

p  {
  text-aling: center;
}

em strong {
  color: red;
}

#missao {
  font-size: 20px
}    

#banner {
  width: 100%;
} 

.imagembeneficios {
  windth: 50%
}

ul {
  display: inline-block;
  vertical-aling: top;
  width; 20%;
  margin-right: 15%
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

.principal {
  background: #CCCCCC;
  padding: 30px;
}

.titulo-principal {
  padding-Left: 20px;
  
}

.titulo-centralizado {
  text-aling: center
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
     text-transform: uppercase:
     color: #000000;
     font-weight: bold;
     font-size: 22px;
     text-decoration: none;
}
